annotated-types
anyio
appnope
asttokens
certifi
charset-normalizer
click
comm
debugpy
decorator
distro
docker-pycreds
executing
gitdb
GitPython
idna
ipykernel
ipynbname
ipython
jedi
jiter
joblib
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
parso
pexpect
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
python-dateutil
PyYAML
pyzmq
requests
scikit-learn
scipy
sentry-sdk
setproctitle
setuptools
six
smmap
sniffio
stack-data
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
urllib3
wandb
wcwidth
google.generativeai
scikit-learn
pandas
seaborn

